{% extends 'layout.twig' %}

{% block body_class 'page page-template-default' %}
{% block titulo     'Regístrate gratis' %}

{% block contenido %}
<div id="core" class="container clearfix">
    <div id="primary-content" class="clearfix">
        <h2>Regístrate gratis</h2>

        <form action="{{ path('registro') }}" method="post">
            {{ form_widget(form) }}
         
            <input type="submit" name="submit" value="Registrarme" />
        </form>
    </div>
</div>
{% endblock %}
