{% extends 'layout.twig' %}

{% block body_class 'page page-template-default' %}
{% block titulo     'Registro completado con éxito' %}

{% block contenido %}
<div id="core" class="container clearfix">
    <div id="primary-content" class="clearfix">
        <h2>¡Gracias por registrarte en Bilbostack!</h2>

        <p>En unos instantes recibirás un email confirmando tu inscripción a
            Bilbostack. Si no te llega, comprueba tu carpeta de <em>spam</em>
            o ponte en contacto con nosotros en bilbostack@elcomite.org.</p>
    </div>
</div>
{% endblock %}
